.board {
    width: 600px;
    background-color: rgb(143, 112, 112);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

@media (max-width: 630px) {
    .board {
        width: 410px
    }
}

@media (max-width: 420px) {
    .board {
        width: 320px;
    }
}

@media (max-width: 330px) {
    .board {
        width: 280px
    }
}

.cell {
    width: 125px;
    height: 125px;
    margin: 10px;
    padding: 2px;
    background-color: azure;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 630px) {
    .cell {
        margin: 4px;
        width: 90px;
        height: 90px;
    }
}

@media (max-width: 420px) {
    .cell {
        margin: 2px;
        width: 70px;
        height: 70px;
    }
}

@media (max-width: 330px) {
    .cell {
        margin: 1px;
        width: 60px;
        height: 60px;
    }
}

.cell img {
    width: 120px;
    height: 120px;
}

@media (max-width: 630px) {
    .cell img {
        width: 80px;
        height: 80px;
    }
}

@media (max-width: 420px) {
    .cell img {
        width: 70px;
        height: 70px;
    }
}

@media (max-width: 330px) {
    .cell img {
        width: 55px;
        height: 55px;
    }
}

.imageContainer {
    background-color: aliceblue;
}

.imageOnClick {
    animation-name: flip;
    animation-timing-function: ease-in-out;
    animation-duration: 0.5s;
    animation-direction: alternate;
    animation-iteration-count: 1;
    max-width: 10em !important;
}

.imageHide {
    animation-name: hide;
    animation-timing-function: ease-in-out;
    animation-duration: 2s;
    animation-direction: alternate;
    animation-iteration-count: 1;
    max-width: 10em !important;
}

@keyframes hide {
    0% {
        transform: perspective(600px) rotateY(0);
        opacity: 1;
    }

    34% {
        opacity: 1;
    }

    35% {
        opacity: 0;
    }

    100% {
        transform: perspective(600px) rotateY(360deg);
        opacity: 0;
    }
}

@keyframes flip {
    0% {
        transform: perspective(600px) rotateY(0);
        opacity: 0;
    }

    75% {
        opacity: 0;
    }

    100% {
        transform: perspective(600px) rotateY(360deg);
        opacity: 1;
    }
}

.notCurrentImage {
    opacity: 0;
}

.currentImage {
    opacity: 1;
}